<style>
	.container {
		position: absolute;
		left: 25%;
		width: 50%;
		padding-top: 2%;
	}

	li {
		list-style-type: none;
		width: 100%;
	}
	textarea {
		width: 50%;
	}
</style>
<div class="container">
	<li ng-repeat="sub in subject" class="box">
		<h1 style="color: black; font-family: cursive;">{{sub.subject}}</h1>
		<br>
		<div>
			<pre style="font-family: sans-serif; font-size: 20px">{{sub.description}}</pre>
		</div>
		
		<small style="float: right; font-family: sans-serif;">{{sub.personnel_name}}</small>
		<br>
		<small style="float: right; font-family: monospace;">{{sub.date}}</small>
	</li>
	<br>
	<hr>
	<div ng-repeat="com in comments" class="row">
		<li class="list-group-item list-group-item">
			<!--pre style="font-family: serif; font-size: 18px" editable-text="username">{{com.comment}}</pre-->
			<!--pre style="font-family: serif; font-size: 18px" >{{ user.name || 'empty' }}</pre-->

<form editable-form name="editableForm" onaftersave="saveUser()">
	<div>
      <!-- editable username (text with validation) -->
      <span editable-text="com.comment" ng-model="namecom" e-name="name" onbeforesave="checkName($data)" e-required>{{com.comment}}</span>
    </div>


	<div class="buttons">
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
       
        <button type="button" class="btn btn-danger" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
        
		<a style="color: #1c2a48;" class="btn btn-sm btn-light" ng-click="deleteData(com._id)"><i class="fas fa-trash-alt"></i></a>
      </span>
    </div>
</form> 

			<br>

<a style="color: #1c2a48;" class="btn btn-sm btn-light" ng-click="updateData(com._id,com.comment)" ><i class="fas fa-edit"></i></a>
			


			<small style="float: right; font-family: sans-serif;">{{com.personnel_name}}</small>
			<br>
			<small style="float: right; font-family: monospace;">{{com.date}}</small>
		</li>
	</div>
	<hr>
	<div class="row d-flex justify-content-end">
		<textarea ng-model="comment" ></textarea>
		<button class="btn btn-dark" ng-click="addComment(sub_id)">Share</button>
	</div>
	<hr>
</div>