<div class="container">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">
			<a ng-repeat="sub in subject">
				<span class="sub-heading">{{sub.subject}}</span>
				<span class="subtopic_description">{{sub.description}}</span>
				<span style="font-size: x-small"class="sub-heading">{{sub.personnel_ID}}</span>
			</a>
		<ul id="comments-list" class="comments-list">
			<li>
				<div ng-repeat="comment in comments" class="comment-main-level">
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 style="color: black"class="comment-name">{{comment.personnel_id}}</h6>
							<span>{{comment.date}}</span>
						</div>
						<div class="comment-content">
							{{comment.comment}}
						</div>
					</div>
				</div>
				
			</li>
		</ul>
		
		<div class="row">
    
				<div class="col-md-6">
					<div class="widget-area no-padding blank">
						<div class="status-upload">
							<form>
								<textarea ng-model="comment"placeholder="What is your comment?" ></textarea>
								<button type="submit" ng-click="addComment()"class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
							</form>
						</div><!-- Status Upload  -->
					</div><!-- Widget Area -->
				</div>
					
				</div>
	</div>

	</div>
</div>
