<h1 class="list-header-h1">Questions</h1>
<div class="col-md-10">
  <a class="btn btn-lg btn-info list-header-button" href="#/subjectAdd">ADD</a>
  <!-- Default box -->
  <div class="box" ng-repeat="sub in subjects">
    <div class="box-header with-border">
      <h3 class="box-title"><b><i>{{sub.subject}}</i></b></h3>
      <i class="fa fa-clock-o right"> {{sub.date}}</i>
    </div>
    <div class="box-body">
      <span ng-repeat="tag in sub.tags">
        <a class="btn btn-primary btn-xs" href="#/tag/{{tag}}">{{tag}}</a>
      </span>
    </div>
    <!--/.box-body -->
    <div class="box-footer">
      <span class="badge badge-pill">{{sub.count}} view</span>
    </div>
  <!--/.box-footer-->
  </div>
  <!-- /.box -->
</div>