<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="app.css">
<!DOCTYPE html>
<html ng-app="myApp">
<style type="text/css">
  a {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  a:hover {
    text-decoration: none;
    color: #d0d6e2;
  }

  #sag {
    transform: translateX(+500%);
  }
</style>

<body>
  
  <nav ng-controller="appController" class="navbar navbar-expand-lg" style="background-color: #1c2a48;">
    <a href="#/" style="padding-right:5%">Logo</a>
    
    <div class="input-group mb-3">
      <input type="text" class="form-control" ng-model="search" placeholder="search" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button ng-click="elasticsearch()" class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>

    <ul ng-controller="loginController">
      <a style="color: white; background-color: #1c2a48;" ng-show="!show" href="#/login" class="btn btn-md">Log in</a>
      <a style="color: white; background-color: #1c2a48;" ng-show="show" ng-click="signout()" class="btn btn-md">Log
        out</a>
    </ul>

  </nav>

  <div class="col">
      <div class="row">
          <div ng-controller="appController" ng-show="isAdmin()" style="background-color: #ffffff;border-right: 5px solid; width:15%; height: 100%;"
          class="wrapper">
      
          <!-- Sidebar -->
          <nav id="sidebar">
            <div class="sidebar-header">
              <h1>-Admin-</h1>
            </div>
          </nav>
      
          <!-- Page Content -->
          <div id="content">
            <!-- We'll fill this with dummy content -->
            <ul class="list-unstyled components">
              <li style="height:5%"><a style="color:black;"class="active" href="#/">Home</a></li>
              <li style="height:5%"><a style="color:black;"href="#/register">Register</a></li>
            </ul>
          </div>
        </div>
        
      </div>
      <div class="row" ng-view>
      </div>
  </div>

  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="node_modules/ngstorage/ngStorage.min.js"></script>

  <script type="text/javascript" src="config/index.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="pages/loginComponent/loginController.js"></script>
  <script type="text/javascript" src="pages/subjectListComponent/subject_listController.js"></script>
  <script type="text/javascript" src="pages/subjectComponent/subjectController.js"></script>
  <script type="text/javascript" src="pages/elasticComponent/elasticController.js"></script>
  <script type="text/javascript" src="pages/registerComponent/registerController.js"></script>

</body>

</html>